<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <link rel="icon" href="static/assets/css/images/avatar.png" />
  </head>
  <body class="is-preload">
    <div id="header">
      <div class="top">
        <div id="logo">
          <span class="image avatar48"
            ><img src="static/assets/css/images/avatar.png" alt=""
          /></span>
          <h1 id="title">Alexys Santiago</h1>
          <p>Full Stack Developer</p>
        </div>

        <nav id="nav">
          <ul>
            <li>
              <a href="#top" id="top-link"
                ><span class="icon solid fa-home">Intro</span></a
              >
            </li>

            <li>
              <a href="#portfolio" id="portfolio-link"
                ><span class="icon solid fa-th">Portfolio</span></a
              >
            </li>

            <li>
              <a href="#about" id="about-link"
                ><span class="icon solid fa-user">About Me</span></a
              >
            </li>

            <li>
              <a href="#contact" id="contact-link"
                ><span class="icon solid fa-envelope">Contact</span></a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div class="bottom">
        <ul class="icons">
          <li>
            <a href="https://github.com/suxport" class="icon brands fa-github"
              ><span class="label">Github</span></a
            >
          </li>
        </ul>
      </div>
    </div>

    <div id="main">
      <section id="top" class="one dark cover">
        <div class="container">
          <header>
            <h2 class="alt">
              Hi!<br />
              I'm <strong>Alexys Santiago</strong> a Full Stack Developer
            </h2>
            <p>
              I have a focus on continuous improvement of skills related to
              technology, productivity, and communication!
            </p>
          </header>

          <footer>
            <a href="https://github.com/suxport" class="button scrolly"
              >My Portfolio</a
            >
          </footer>
        </div>
      </section>

      <section id="about" class="three">
        <div class="container">
          <header>
            <h2>About Me</h2>
          </header>

          <a href="#" class="image featured"
            ><img src="images/pic08.jpg" alt=""
          /></a>

          <p>
            I am a developer undergraduated from PUCPR with a degree in Computer
            Science. I have a focus on continuous improvement of skills related
            to technology, productivity, and communication, possessing strong
            knowledge and experience in .NET and Angular technologies, and
            seeking opportunities to work as a Full Stack Developer.
          </p>
        </div>
      </section>

      <section id="portfolio" class="two">
        <div class="container">
          <header>
            <h2>Portfolio</h2>
          </header>

          <p>
            I've dedicated my time to learning and practising Python
            programming. Below you can review just a few of the dozens of
            projects that I've practiced.
          </p>

          <div class="row">
            <div class="col-4 col-12-mobile">
              <article class="item">
                <a href="#" class="image fit"
                  ><img src="images/pic02.jpg" alt=""
                /></a>
                <header>
                  <a
                    href="https://github.com/suxport/100-days-code-python-bootcamp/tree/main/beginner/day-11"
                    ><h3>Blackjack</h3></a
                  >
                </header>
              </article>

              <article class="item">
                <a href="#" class="image fit"
                  ><img src="images/pic03.jpg" alt=""
                /></a>
                <header>
                  <a
                    href="https://github.com/suxport/100-days-code-python-bootcamp/tree/main/intermediate/day-22"
                    ><h3>Pong Game</h3></a
                  >
                </header>
              </article>
            </div>

            <div class="col-4 col-12-mobile">
              <article class="item">
                <a href="#" class="image fit"
                  ><img src="images/pic04.jpg" alt=""
                /></a>
                <header>
                  <a
                    href="https://github.com/suxport/100-days-code-python-bootcamp/tree/main/intermediate/day-23"
                    ><h3>Turtle Crossing Game</h3></a
                  >
                </header>
              </article>
              <article class="item">
                <a href="#" class="image fit"
                  ><img src="images/pic05.jpg" alt=""
                /></a>
                <header>
                  <a
                    href="https://github.com/suxport/100-days-code-python-bootcamp/tree/main/intermediate/day-31"
                    ><h3>Flash Card App</h3></a
                  >
                </header>
              </article>
            </div>

            <div class="col-4 col-12-mobile">
              <article class="item">
                <a href="#" class="image fit"
                  ><img src="images/pic06.jpg" alt=""
                /></a>
                <header>
                  <a
                    href="https://github.com/suxport/100-days-code-python-bootcamp/tree/main/intermediate%2B/day-36"
                    ><h3>Stock News Alerts</h3></a
                  >
                </header>
              </article>

              <article class="item">
                <a href="#" class="image fit"
                  ><img src="images/pic07.jpg" alt=""
                /></a>
                <header>
                  <a
                    href="https://github.com/suxport/100-days-code-python-bootcamp/tree/main/intermediate%2B/day-48"
                    ><h3>Browser Game Bot</h3></a
                  >
                </header>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section id="contact" class="four">
        <div class="container">
          <header>
            <h2>Contact</h2>
          </header>

          <p>Get in touch with me, let's talk about coding!</p>

          <form method="post" action="#">
            <div class="row">
              <div class="col-6 col-12-mobile">
                <input type="text" name="name" placeholder="Name" />
              </div>

              <div class="col-6 col-12-mobile">
                <input type="text" name="email" placeholder="Email" />
              </div>

              <div class="col-12">
                <textarea name="message" placeholder="Message"></textarea>
              </div>

              <div class="col-12">
                <input type="submit" value="Send Message" />
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>

    <div id="footer">
      <ul class="copyright">
        <li>&copy; Alexys</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
